

.quote {
    max-width: 70%;
}

.quote em {
    float: right;
}

.newbooks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
    justify-content: center;
}

.newbook {
    padding-top: 10px;
}

.newbook:hover {
    transform: translate(-5px, -10px);
<<<<<<< HEAD
    box-shadow: 5px 5px 3px greenyellow;
=======
    box-shadow: 5px 5px 3px rgb(99, 99, 99);
>>>>>>> fadd66ce05bf65f1bcad3b9d4b325ef240a4cb0d
}

.newbook h4, .newbook p {
    margin: 3px;
    text-align: center;
}

.image-small {
    width: 100px;
<<<<<<< HEAD
    background: #222;
=======
    background: #ffffff;
>>>>>>> fadd66ce05bf65f1bcad3b9d4b325ef240a4cb0d
    object-fit: contain;
    height: 130px;
  }



.bg-logo h1{
    font-size: 50vh;
    position: fixed;
    left: calc(50% + 120px);
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    z-index: -100;
    opacity: 0.5;
<<<<<<< HEAD
    color: #222;
=======
    color: #ffffff;
>>>>>>> fadd66ce05bf65f1bcad3b9d4b325ef240a4cb0d
}

@media(max-width: 800px) {
    main {
        gap: 50px;
    }
}